nav {
  background-color: #1b2b50;
  color: #e0dc83;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-items {
  display: flex;
}

#nav-items div {
  margin-left: 12px;
  margin-right: 12px;
}

.logo-img {
  width: 50px;
}
